<template>
  <section>
    <br />
    <b-field label="Find a Gene Variant">
      <b-input
        type="text"
        v-model="search"
        @keyup.native="getGeneData(search)"
        placeholder="Search..."></b-input>
    </b-field>
    <br />
    <div style="max-height: 100%;">
      <b-table fixed small striped hover :data="data" :columns="columns"></b-table>
    </div>
  </section>
</template>


 <script>
import axios from "axios";
export default {
  mounted: function() {
    this.getGeneData().then(result => {
      this.data = result;
      this.$forceUpdate();
    });
  },
  methods: {
    getGeneData: term => {
      let search;
      if (!term) {
        search = "";
      } else {
        search = `?q=${term}`;
      }
      // eslint-disable-next-line no-console
      console.log(search)
      const HOST = `http://localhost:5000/v1/gene${search}`;
      return axios
        .get(HOST, {
          dataType: "json",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          }
        })
        .then(resp => {
          return resp.data.results;
        });
    },
  },
  data() {
    return {
      search: '',
      data: this.data,
      columns: [
        {
          field: "Gene",
          label: "Gene",
          centered: true,
          sortable: true
        },
        {
          field: "Nucleotide Change",
          label: "Nucleotide Change",
          centered: true,
          sortable: true
        },
        {
          field: "Protein Change",
          label: "Protein Change",
          centered: true,
          sortable: true
        },
        {
          field: "Alias",
          label: "Alias",
          sortable: true
        },
        {
          field: "Accession",
          label: "Accession",
          numeric: true,
          centered: true,
          sortable: true
        },
        {
          field: "Alt",
          label: "Alt",
          sortable: true
        },
        {
          field: "Region",
          label: "Region",
          centered: true,
          sortable: true
        },
        {
          field: "Assembly",
          label: "Assembly",
          centered: false,
          sortable: true
        },
        {
          field: "Chr",
          label: "Chr",
          centered: true,
          sortable: true
        },
        {
          field: "Genomic Start",
          label: "Genomic Start",
          centered: true,
          sortable: true
        },
        {
          field: "Genomic Stop",
          label: "Genomic Stop",
          centered: true,
          sortable: true
        },
        {
          field: "Inferred Classification",
          label: "Inferred Classification",
          centered: true,
          sortable: true
        },
        {
          field: "Last Evaluated",
          label: "Last Evaluated",
          centered: true,
          sortable: true
        },
        {
          field: "Last Updated",
          label: "Last Updated",
          centered: true,
          sortable: true
        },
        {
          field: "Other Mappings",
          label: "Other Mappings",
          centered: true,
          sortable: true
        },
        {
          field: "Ref",
          label: "Ref",
          centered: true,
          sortable: true
        },
        {
          field: "Reported Alt",
          label: "Reported Alt",
          centered: true,
          sortable: true
        },
        {
          field: "Reported Classification",
          label: "Reported Classification",
          centered: true,
          sortable: true
        },
        {
          field: "Reported Ref",
          label: "Reported Ref",
          centered: true,
          sortable: true
        },
        {
          field: "Source",
          label: "Source",
          centered: true,
          sortable: true
        },
        {
          field: "Submitter Comment",
          label: "Submitter Comment",
          centered: true,
          sortable: true
        },
        {
          field: "Transcripts",
          label: "Transcripts",
          centered: true,
          sortable: true
        },
        {
          field: "URL",
          label: "URL",
          centered: true,
          sortable: true
        }
      ]
    };
  }
};
</script>
